.header-action-bar {
	display: flex;
	justify-content: space-between;
	&__code {
		background: var(--theme-color);
		padding: 8px 20px;
		font-size: 20px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: white;
		cursor: pointer;
		box-shadow: 0 0 0 4px var(--selected-row);
		font-weight: 700;
		min-width: 150px;
		height: auto;
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&:active {
			box-shadow: none;
		}
	}
}
.header-action-bar__out button,
.header-action-bar__setting {
	display: inline-flex;
	height: auto;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 0;
	min-width: 50px;
	height: 30px;
	font-weight: 700;
	overflow: hidden;
	color: white;
	background: var(--theme-color);
	cursor: pointer;
	box-shadow: 0 0 0 4px var(--selected-row);
	&:active {
		box-shadow: none;
	}
}

.room-content {
	padding: 15px;
}

.room-user-list {
	display: flex;
	flex-wrap: wrap;
	.room-user-item {
		margin: 10px;
		width: calc(33.333% - 20px);
		cursor: pointer;
		&:active {
			.user-avatar {
			}
		}
		&.me {
			.user-avatar {
				border-color: var(--theme-color);
			}
			.user-name {
				background: var(--theme-color);
				&::before {
					background: var(--theme-color);
				}
			}
			&.admin {
				.user-avatar {
					border-color: var(--theme-sub-color);
				}
				.user-name {
					background: var(--theme-sub-color);
					&::before {
						background: var(--theme-sub-color);
					}
					span {
						position: absolute;
						left: 10px;
						top: 50%;
						transform: translate(0, -50%);
					}
				}
			}
		}
	}
	.user-avatar {
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #ebebeb;
		margin-bottom: 10px;
		display: flex;
		user-select: none;
		border-color: #bbb;
		padding-top: 100%;
		position: relative;
		transition: 0.25s all ease-in-out;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			vertical-align: top;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.user-name {
		border-radius: 5px;
		user-select: none;
		text-align: center;
		font-weight: 600;
		text-transform: capitalize;
		position: relative;
		color: white;
		background: #bbb;
		padding: 2px 10px;
		transition: 0.25s all ease-in-out;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 11px;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			background: #bbb;
			transition: 0.25s all ease-in-out;
			z-index: -1;
		}
	}
}
