@import "../../../global";
/* Table VIEW */
.menu-table {
	width: 100%;
	margin-bottom: 35px;
}
.menu-table caption {
	background-color: var(--theme-color);
	padding: 10px;
	font-weight: 700;
	color: white;
	font-size: 28px;
}
.menu-table,
.menu-table th,
.menu-table td {
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
	text-align: center;
}
.menu-table td {
	padding: 5px 10px;
}
.menu-table th {
	background-color: #e69138;
	color: white;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding: 15px 10px;
}
.menu-head__index {
	width: 20px;
}
.menu-head__name {
	min-width: 100px;
}
.menu-head__image {
	width: 120px;
}
.menu-head__quantity {
	min-width: 110px;
}
.menu-head__price,
.menu-head__sum {
	width: 150px;
}
@include mx-sm {
	.menu-table th {
		font-size: 14px;
	}
	.menu-table td {
		font-size: 12px;
		padding: 5px;
	}
}
/* BLOCK VIEW */
.blocks-wrapper {
	margin-bottom: 35px;
}
.blocks-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}
@include mx-sm {
	.blocks-content-wrapper {
		margin: -10px -5px;
	}
}
/* ACTION BAR */
.quick-btn-wrapper .action-btn:not(:last-child) {
	margin-right: 20px;
}
.action-btn {
	width: 38px;
	height: 38px;
	font-size: 20px;
	border: none;
	background-color: var(--theme-color);
	color: white;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 0 4px var(--selected-row);
	outline: none;
}
.action-btn:active {
	box-shadow: none;
}
.action-filter-input {
	width: 200px;
	padding: 8px 45px 8px 8px;
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #0d1f36;
	font-size: 14px;
	outline: none;
	background-color: white;
	transition: all 0.2s ease;
	zoom: 1.1;
}
.action-filter-input + button {
	zoom: 1.12;
	width: 40px;
	height: 36px;
	border-radius: 25px;
	border: none;
	background-color: #b0b0b0;
	color: white;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	right: 0px;
	outline: none;
	cursor: pointer;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.action-filter-input:focus {
	border-color: var(--theme-color);
	box-shadow: 0 0 0 4px var(--selected-row);
}
.action-filter-input:focus + button {
	background-color: var(--theme-color);
	color: white;
}
.action-filter-wrapper {
	display: flex;
	position: relative;
	/*   align-items: center; */
}
.action-select-bistro-wrapper select {
	width: 100%;
	text-align: center;
	padding: 8px 10px;
	border-radius: 5px;
	background-color: white;
	/*   color: #B0B0B0; */
	border-color: #b0b0b0;
	outline: none;
	font-size: 16px;
}
.action-select-bistro-wrapper select:focus {
	border-color: var(--theme-color);
	box-shadow: 0 0 0 4px var(--selected-row);
}
.action-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px 0;
}
