@import "../../../global";

/* Order table */
.order-wrapper {
	visibility: visible;
	opacity: 1;
	transition: 0.25s all ease-in-out;
	display: inline-flex;
	justify-content: flex-end;
	position: sticky;
	bottom: 1px;
	left: 100%;
	right: 0;
	background-color: pink;
	min-width: 320px;
	width: 100%;
	max-width: 450px;
}
.order-wrapper.hid {
	visibility: hidden;
	opacity: 0;
}
.order__list {
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	overflow: auto;
	background: white;
	/*   margin-top: 35px; */
	padding: 5px;
	border-radius: 5px;
}
.order-wrapper:not(.full-view) .order__table thead,
.order-wrapper:not(.full-view) .order__table tbody {
	display: none;
}
/* Scroll table */
.order__table {
	width: 100%;
	/*   min-width: 380px; */
	text-align: right;
	display: block;
	empty-cells: show;
}

.order__table tbody,
.order__table thead,
.order__table tfoot {
	overflow-y: scroll;
	display: block;
	width: 100%;
}
.order__table thead {
	background-color: var(--selected-row);
}
.order__table tbody {
	max-height: calc(82vh - 33 * 5px);
	/*   min-height: 168px; */
}
.order__table tbody tr,
.order__table thead tr,
.order__table tfoot tr {
	display: flex;
	width: 100%;
}
.order__table th,
.order__table td {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.order-head__name,
.order-row__name {
	width: 45%;
}
.order-head__count,
.order-row__count {
	width: 25%;
}
.order-head__sum,
.order-row__sum {
	width: 30%;
}
.order-foot__label {
	width: 45%;
}
.order-foot__label + td {
	width: 55%;
}
.order-foot__label + .order-foot__btn {
	/*   justify-content:center; */
}
.order-foot__btn {
	width: 100%;
}
/* End scroll table */

.order__table,
.order__table th,
.order__table td {
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
}

.order-head__name,
.order-row__name {
	text-align: left;
	justify-content: flex-start !important;
}
.person-quantity,
.minus-add {
	display: flex;
}
.person-quantity .sm-btn,
.minus-add .sm-btn {
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 30px;
	height: 32px;
	width: 30%;
	background: var(--theme-color);
	border: 1px solid var(--theme-color);
	color: white;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}
.person-quantity .number,
.minus-add .number {
	user-select: none;
	height: 32px;
	width: 40%;
	min-width: 25px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	border: 1px solid var(--theme-color);
	background: white;
}
.order__table .order-foot__label,
.order__table .order-foot__value {
	font-weight: 700;
}
.order-foot__btn button {
	padding: 5px 10px;
	width: 100%;
}
@include mx-sm {
	.order__table th,
	.order__table td {
		font-size: 14px;
	}
}
