@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
:root {
	--theme-color: #e69138;
	--selected-row: #fae8d4;
	--block-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.38);
	--btn-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
}
* {
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}
/* Table VIEW */
.menu-table {
	width: 100%;
	margin-bottom: 35px;
}
.menu-table caption {
	background-color: var(--theme-color);
	padding: 10px;
	font-weight: 700;
	color: white;
	font-size: 28px;
}
.menu-table,
.menu-table th,
.menu-table td {
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
	text-align: center;
}
.menu-table td {
	padding: 5px 10px;
}
.menu-table th {
	background-color: #e69138;
	color: white;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding: 15px 10px;
}
.menu-head__index {
	width: 20px;
}
.menu-head__name {
	min-width: 100px;
}
.menu-head__image {
	width: 120px;
}
.menu-head__quantity {
	min-width: 110px;
}
.menu-head__price,
.menu-head__sum {
	width: 150px;
}

.menu-row__sum {
	font-weight: 700;
}
.menu-row.selected {
	background-color: var(--selected-row);
}
.menu-row__quantity .cell-wrap {
	display: flex;
	justify-content: center;
}
.menu-row .row-btn {
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 32px;
	background: var(--theme-color);
	border: 1px solid var(--theme-color);
	color: white;
	font-weight: 700;
	cursor: pointer;
	font-size: 18px;
}
.menu-row .number {
	user-select: none;
	height: 32px;
	min-width: 25px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	border: 1px solid var(--theme-color);
	background: white;
}
.menu-row__image .name {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-table th {
		font-size: 14px;
	}
	.menu-table td {
		font-size: 12px;
		padding: 5px;
	}
	.menu-row .menu-row__quantity .cell-wrap {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		max-width: 100%;
	}
	.menu-row .row-btn,
	.menu-row .number {
		width: 100%;
	}
	.menu-head__image {
		width: 100px;
	}
	.menu-head__price,
	.menu-head__sum {
		min-width: 50px;
	}
	.menu-head__quantity {
		min-width: 68px;
	}
	.menu-head__index,
	.menu-row__index,
	.menu-head__name,
	.menu-row__name {
		display: none;
	}
	.menu-row__image .name {
		display: block;
	}
}
/* BLOCK VIEW */
.blocks-wrapper {
	margin-bottom: 35px;
}
.blocks-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}
.block-item-wrapper {
	width: calc(100% / 6 - 20px);
	border-radius: 10px;
	/*   padding: 10px; */
	background-color: white;
	border: 1px solid #ebebeb;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	transition: 0.2s all ease-in-out;
	border-bottom: none;
}

.block-item-wrapper.selected {
	box-shadow: var(--block-shadow);
	border-color: var(--theme-color);
	background: var(--selected-row);
}
.block-item__name {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	padding: 10px;
	font-weight: 700;
	/*   background: var(--theme-color); */
	/*   color: white; */
}

.block-item__image {
	padding: 0 10px;
	overflow: hidden;
}
.block-item__image img {
	border-radius: 10px;
}
.block-item__price {
	padding: 5px 10px;
	margin-top: auto;
}
.block-item__quantity {
}
@media screen and (min-width: 993px) {
	.block-item-wrapper:hover {
		box-shadow: var(--block-shadow);
	}
}
@media screen and (max-width: 1025px) {
	.block-item-wrapper {
		width: calc(100% / 5 - 20px);
	}
}
@media screen and (max-width: 993px) {
	.block-item-wrapper {
		width: calc(100% / 4 - 20px);
	}
}
@media screen and (max-width: 600px) {
	.blocks-content-wrapper {
		margin: -10px -5px;
	}
	.block-item-wrapper {
		width: calc(100% / 3 - 10px);
		margin: 10px 5px;
		font-size: 14px;
	}
	.block-item__name {
		padding: 5px;
	}
	.block-item__image {
		padding: 0 5px;
	}
	.block-item__price {
		padding: 5px;
	}
}
@media screen and (max-width: 359px) {
	.block-item-wrapper {
		width: calc(100% / 2 - 10px);
	}
}
/* ACTION BAR */
.quick-btn-wrapper .action-btn:not(:last-child) {
	margin-right: 20px;
}
.action-btn {
	width: 38px;
	height: 38px;
	font-size: 20px;
	border: none;
	background-color: var(--theme-color);
	color: white;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 0 4px var(--selected-row);
	outline: none;
}
.action-btn:active {
	box-shadow: none;
}
.action-filter-input {
	width: 200px;
	padding: 5px 45px 5px 5px;
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #0d1f36;
	font-size: 14px;
	outline: none;
	background-color: white;
	transition: all 0.2s ease;
	zoom: 1.1;
}
.action-filter-input + button {
	zoom: 1.12;
	width: 40px;
	height: 30px;
	border-radius: 25px;
	border: none;
	background-color: #b0b0b0;
	color: white;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	right: 0px;
	outline: none;
	cursor: pointer;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.action-filter-input:focus {
	border-color: var(--theme-color);
	box-shadow: 0 0 0 4px var(--selected-row);
}
.action-filter-input:focus + button {
	background-color: var(--theme-color);
	color: white;
}
.action-filter-wrapper {
	display: flex;
	position: relative;
	/*   align-items: center; */
}
.action-select-bistro-wrapper select {
	width: 100%;
	text-align: center;
	padding: 8px 10px;
	border-radius: 5px;
	background-color: white;
	/*   color: #B0B0B0; */
	border-color: #b0b0b0;
	outline: none;
	font-size: 16px;
}
.action-select-bistro-wrapper select:focus {
	border-color: var(--theme-color);
	box-shadow: 0 0 0 4px var(--selected-row);
}
.action-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px 0;
}
/* Order table */
.order-wrapper {
	visibility: visible;
	opacity: 1;
	transition: 0.25s all ease-in-out;
	display: inline-flex;
	justify-content: flex-end;
	position: sticky;
	bottom: 1px;
	left: 100%;
	right: 0;
	background-color: pink;
	min-width: 320px;
	width: 100%;
	max-width: 450px;
}
.order-wrapper.hid {
	visibility: hidden;
	opacity: 0;
}
.order__list {
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	overflow: auto;
	background: white;
	/*   margin-top: 35px; */
	padding: 5px;
	border-radius: 5px;
}
.order-wrapper:not(.full-view) .order__table thead,
.order-wrapper:not(.full-view) .order__table tbody {
	display: none;
}
/* Scroll table */
.order__table {
	width: 100%;
	/*   min-width: 380px; */
	text-align: right;
	display: block;
	empty-cells: show;
}

.order__table tbody,
.order__table thead,
.order__table tfoot {
	overflow-y: scroll;
	display: block;
	width: 100%;
}
.order__table thead {
	background-color: var(--selected-row);
}
.order__table tbody {
	max-height: calc(82vh - 33 * 5px);
	/*   min-height: 168px; */
}
.order__table tbody tr,
.order__table thead tr,
.order__table tfoot tr {
	display: flex;
	width: 100%;
}
.order__table th,
.order__table td {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.order-head__name,
.order-row__name {
	width: 45%;
}
.order-head__count,
.order-row__count {
	width: 25%;
}
.order-head__sum,
.order-row__sum {
	width: 30%;
}
.order-foot__label {
	width: 45%;
}
.order-foot__label + td {
	width: 55%;
}
.order-foot__label + .order-foot__btn {
	/*   justify-content:center; */
}
.order-foot__btn {
	width: 100%;
}
/* End scroll table */

.order__table,
.order__table th,
.order__table td {
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
}

.order-head__name,
.order-row__name {
	text-align: left;
	justify-content: flex-start !important;
}
.person-quantity,
.minus-add {
	display: flex;
}
.person-quantity .sm-btn,
.minus-add .sm-btn {
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 30px;
	height: 32px;
	width: 30%;
	background: var(--theme-color);
	border: 1px solid var(--theme-color);
	color: white;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}
.person-quantity .number,
.minus-add .number {
	user-select: none;
	height: 32px;
	width: 40%;
	min-width: 25px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	border: 1px solid var(--theme-color);
	background: white;
}
.order__table .order-foot__label,
.order__table .order-foot__value {
	font-weight: 700;
}
.order-foot__btn button {
	padding: 5px 10px;
	width: 100%;
}
@media screen and (max-width: 600px) {
	.order__table th,
	.order__table td {
		font-size: 14px;
	}
}
/* Container */
.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.hidden {
	display: none;
}
.spacing {
	height: 180px;
}
.bistro-name {
	margin-bottom: 0;
	padding: 0;
	line-height: 1.3;
	margin-top: 30px;
}
.page-heading-2 {
	margin-top: 35px;
	margin-bottom: 10px;
}
