.starter-form {
	background: white;
	border-radius: 10px;
	min-width: 320px;
	max-width: 600px;
	width: 100%;
	margin-top: 68px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: var(--block-shadow);
	// border: 1px solid #ebebeb;
}
.starter {
	&__choose {
		&__link {
			background: white;
			width: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 15px;
			text-decoration: none;
			color: black;
			font-weight: 700;
			font-size: 18px;
			border: 1px solid #ebebeb;
			cursor: pointer;
			&.active {
				background: var(--theme-color);
				color: white;
			}
			@media screen and (max-width: 360px) {
				padding: 10px;
			}
		}
	}
	&__setting {
		padding: 25px;
		border: 1px solid #ebebeb;
	}
}
.center-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
	background: whitesmoke;
	position: relative;
	padding: 10px;
}
.form-wrapper {
	.form-control {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		label {
			width: 100%;
		}

		input,
		select {
			&:disabled {
				background: #dfdfdf;
			}
			width: 100%;
			padding: 8px;
			border-radius: 8px;
			font-size: 16px;
			border-color: #bbb;
			border-style: solid;
			&:focus {
				border-radius: 8px;
				border-color: var(--theme-color);
				outline: none;
			}
		}
		button {
			padding: 10px;
			font-weight: 700;
			border: 2px solid var(--theme-color);
			background: var(--theme-color);
			color: white;
			border-radius: 8px;
			min-width: 150px;
			min-height: 50px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&:active {
				border-color: #9e6224;
			}
		}

		+ .form-control {
			margin-top: 15px;
		}
	}
	.form-control-group {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 15px;
		.form-control {
			width: 48%;
			width: calc(50% - 10px);
		}
		.form-control + .form-control {
			margin-top: 0;
			margin-left: 20px;
		}
		@media screen and (max-width: 360px) {
			.form-control {
				width: 100%;
			}
			.form-control + .form-control {
				margin-top: 15px;
				margin-left: 0;
			}
		}
	}
}
